:root 
{
    --unsplash: #999;
    --fontAwesome: #5542a9;
    --figma: #FF4343;
    --vscode: #0094FF;
    --html: #FF1F00;
    --css: #8F00FF;
    --javascript: #FFB800;
    --webBrowser: #00ffc8;
}

.main-container
{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.secondary-container
{
    padding: 2rem 0;
    min-height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.profile-card
{
    width: 100%;
    min-height: 300px;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,.30);
            box-shadow: 0 0 30px rgba(0,0,0,.30);
    border-radius: 20px;
}

.profile-card-child1, .profile-card-child2
{
    padding: 1.5rem;
}

.profile-card-child1
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.profile-card-child2
{
    background: var(--black);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.profile-card-child2 p
{
    text-align: center;
    color: var(--white);
    font-weight: 400;
    line-height: 1.4;
}

.title-and-pict
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.title-and-pict h1
{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3em;
    color: var(--black);
}

.title-and-pict .profile-pict 
{
    width: 120px;
    height: 120px;
    -o-object-position: 40%;
       object-position: 40%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    margin-top: 1.2rem;
    background: var(--orange);
}

.caption 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
}

.caption h2 
{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.2em;
    margin-bottom: .3rem;
    color: var(--black);
}

.caption h3
{
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    font-size: .8em;
}

.profile-contact 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
}

.social-media a .fab
{
    color: var(--white);
    font-size: 2.5em;
    margin: 0 .4rem;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.social-media a:hover .fab
{
    color: var(--orange);
}

.profile-contact .email 
{
    margin-top: .8rem;
}

.profile-contact .email a
{
    color: var(--white);
    font-weight: 600;
    text-decoration: underline;
    text-transform: capitalize;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    display: inline-block;
}

.profile-contact .email a:hover 
{
    color: var(--orange);
}

.photosIcon 
{
    margin-bottom: 2.5rem;
}

.photosIcon div 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.photosIcon h2, .tools h2 
{
    color: var(--green);
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    font-size: 1.4em;
}

.tools a 
{
    text-transform: capitalize;
}

a.tools-name 
{
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 1rem;
}

a.tools-name:hover 
{
    text-decoration: underline;
}

.unsplash 
{
    color: var(--unsplash);
}

.fontAwesome 
{
    color: var(--fontAwesome);
}

.figma 
{
    color: var(--figma);
}

.vscode 
{
    color: var(--vscode);
}

.html 
{
    color: var(--html);
}

.css 
{
    color: var(--css);
}

.javascript
{
    color: var(--javascript);
}

.webBrowser 
{
    color: var(--webBrowser);
}

footer .bottom .copyright a 
{
    color: var(--orange);
}

footer .bottom .copyright a:hover 
{
    color: var(--orange);
}

@media screen and (max-height: 729px)
{
    .profile-card 
    {
        margin-top: 100px;
    }
}

@media screen and (min-width: 400px)
{
    .profile-card 
    {
        width: 80%;
    }
}

@media screen and (min-width: 576px)
{
    .profile-card
    {
        width: 55%;
    }
}

@media screen and (min-width: 768px)
{       
    main .main-container, main .secondary-container 
    {
        min-height: 50vh;
        margin-bottom: 2rem;
    }

    .profile-card
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 75%;
        margin-top: 120px;
    }

    .profile-card-child1
    {
        width: 50%;
    }

    .profile-card-child2
    {
        border-radius: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .profile-card-child2 p
    {
        text-align: left;
    }

    .profile-contact
    {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }

    main .photosIcon h3, main .tools h3 
    {
        font-size: 2em;
    }

    main .tools ul li a
    {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1024px)
{
    .profile-card
    {
        width: 60%
    }
}

@media screen and (min-width: 1280px)
{
    main .main-container
    {
        min-height: 70vh;
    }

    main .secondary-container
    {
        min-height: 30vh;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .tools-name 
    {
        margin: 0;
    }

    .photosIcon 
    {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .photosIcon h2 
    {
        text-align: left;
    }

    .photosIcon div 
    {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .photosIcon a 
    {
        margin-right: 1.2rem;
    }

    .tools h2 
    {
        text-align: right;
    }

    .tools ul 
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .tools ul li 
    {
        margin-left: 1.2rem;
    }
}

@media screen and (min-width: 1440px)
{
    .profile-card
    {
        width: 45%;
    }
}

/* animation */
.profile-card
{
    /* shadow animation */
    -webkit-animation: profileCardAnimation 5s infinite;
            animation: profileCardAnimation 5s infinite;
}

@-webkit-keyframes profileCardAnimation {
    0%{}
    50%{-webkit-box-shadow: 0 0 50px rgba(0,0,0,.50);box-shadow: 0 0 50px rgba(0,0,0,.50);}
    100%{}
}

@keyframes profileCardAnimation {
    0%{}
    50%{-webkit-box-shadow: 0 0 50px rgba(0,0,0,.50);box-shadow: 0 0 50px rgba(0,0,0,.50);}
    100%{}
}

/* ANIMATE ON SCROLL */
.tools-name 
{
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 0;
    -webkit-transform: translateY(1.5rem);
        -ms-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
}

.tools-name.animationScrolled
{
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}