main 
{
    padding-top: 7.5rem;
    padding-bottom: 1rem;
    background: linear-gradient(0deg, rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../../assets/img3/hero-bg-2.jpg);
    background-position: center;
    background-size: cover;
    color: var(--white);
}

main h1
{
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5em;
}

main h2 
{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 2em;
    text-align: center;
    margin-bottom: -1rem;
}

main p 
{
    margin-top: 2rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    font-size: 1em;
}

main p:nth-child(even)
{
    text-align: right;
}

main p span 
{
    font-weight: 600;
    text-transform: capitalize;
}

main .arrow
{
    font-size: 2.5em;
    margin: 4rem 0;
    display: block;
    text-align: center;
    color: var(--white);
}

main .arrow .fa-arrow-down 
{
    animation: arrowDownAnimation 1s ease-in infinite;
}


main .arrow .fa-arrow-up 
{
    animation: arrowUpAnimation 1s ease-in infinite;
}

.indonesia, .budayaIndonesia, .alamIndonesia 
{
    min-height: 100vh;
    padding-top: 3rem;
    scroll-margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.indonesiaText, .budayaIndonesiaText, .alamIndonesiaText
{
    margin-bottom: 2rem;
}

.indonesia iframe 
{
    width: 100%;
    height: 50vh;
    border: 2px solid var(--white);
}

.imgContainer 
{
    width: 100%;
    height: 50vh;
    position: relative;
}

.imgContainer h3 
{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 300;
    font-size: 1.8em;
    text-transform: capitalize;
}

.budayaIndonesia img, .alamIndonesia img 
{
    width: 100%;
    height: 100%;
    border: 2px solid var(--white);
    object-fit: cover;
    object-position: center;
}

main .source
{
    text-align: center;
    text-transform: capitalize;
}

main .source a 
{
    text-decoration: underline;
    color: var(--white);
    font-weight: 700;
    transition: color .3s;
}

main .source a:hover 
{
    color: var(--orange);
}

@media screen and (max-width: 576px)
{
    main h2 
    {
        font-size: 1.8em;
    }

    main p 
    {
        font-size: .8em;
    }
}

@media screen and (min-width: 576px)
{ 
    main .indonesia iframe, main .imgContainer
    {
        width: 70%;
    }
    
    .indonesia h2, .alamIndonesia h2 
    {
        text-align: right;
    }

    .indonesia p, .alamIndonesia p
    {
        text-align: right;
    }

    .indonesia p:nth-child(even), .alamIndonesia p:nth-child(even)
    {
        text-align: left;
    }

    .budayaIndonesia h2 
    {
        text-align: left;
    }
}

@media screen and (min-width: 768px)
{
    main .indonesia h2, .budayaIndonesia h2, .alamIndonesia h2 
    {
        text-align: center;
    }
}

@media screen and (min-width: 1024px)
{
    main 
    {
        padding-top: 0;
    }

    main p 
    {
        text-indent: 2rem;
    }

    main .indonesia p, main .budayaIndonesia p, main .alamIndonesia p, main .indonesia h2, main .budayaIndonesia h2, main .alamIndonesia h2
    {
        text-align: left;
    }

    main .arrow 
    {

        position: relative;
        top: -9rem;
        
    }

    .indonesia, .budayaIndonesia, .alamIndonesia   
    {
        flex-direction: row;
        align-items: center;
        scroll-margin-top: -2rem;
        /* scroll-margin-top: 8rem; */
    } 

    .indonesiaText, .budayaIndonesiaText, .alamIndonesiaText, main .indonesia iframe, main .imgContainer
    {
        width: 48%;
        margin: 0
    }
}

@media screen and (min-width: 1440px)
{
    main h2 
    {
        font-size: 2.2em;
    }

    main p  
    {
        font-size: 1.2em;
    }
}

@keyframes arrowDownAnimation 
{
    0% 
    {
        transform: translate(0);
        opacity: .5;
    }
    50% 
    {
        transform: translateY(20px);
        opacity: 1;
    }
    100% 
    {
        transform: translate(0);
        opacity: .5;
    }
}

@keyframes arrowUpAnimation 
{
    0% 
    {
        transform: translate(0);
        opacity: .5;
    }
    50% 
    {
        transform: translateY(-20px);
        opacity: 1;
    }
    100% 
    {
        transform: translate(0);
        opacity: .5;
    }
}

/* animation after the page is loaded */
.indonesia h2  
{
    animation: postloadAnimationTitle 1s;
}

.indonesia .paragraph
{
    animation: postloadAnimationParagraph 1s;
}

.indonesia iframe 
{
    animation: postloadAnimationMap 1s;
}

@keyframes postloadAnimationTitle 
{
    0% 
    {
        opacity: 0;
        transform: translateX(-30px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes postloadAnimationParagraph
{
    0%
    {
        opacity: 0;
        transform: translateY(40px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes postloadAnimationMap
{
    0%
    {
        opacity: 0;
        transform: translateX(30px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}
/* animation after the page is loaded */

/* ANIMATE ON SCROLL */
.aosText h2
{
    opacity: 0;
    transform: translateX(-30px);
    transition: all 1s;
}

.aosText h2.animationScrolled 
{
    opacity: 1;
    transform: translateX(0);
}

.aosText .paragraph
{
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s .75s;
}

.aosText .paragraph.animationScrolled
{
    opacity: 1;
    transform: translateY(0);
}

.imgContainer 
{
    opacity: 0;
    transform: translateX(30px);
    transition: all 1s 1s;
}

.imgContainer.animationScrolled
{
    opacity: 1;
    transform: translateX(0);
}
/* ANIMATE ON SCROLL */