.desktopNav ul li:nth-child(3) a:hover 
{
    border: none;
    color: var(--dark-green);
}

.mobileNav ul li:nth-child(3) a:hover 
{
    border: none;
    color: var(--dark-green);
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
}

main h1 
{
    text-align: left;
    color: var(--green);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.5em;
    margin: 2rem 0;
}

main img 
{
    transition: all .5s;
    cursor: pointer;
    object-fit: cover;
}

main img:hover 
{
    opacity: .8;
    transform: scale(1.03);
}

main .image-container-mobile
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .image-container-mobile img 
{
    width: 90%;
    margin-bottom: 1rem;
    object-fit: cover;
}

main .image-container-tablet 
{
    display: none;
}

main .image-container-desktop 
{
    display: none;
}

/* Tablet Size (2 column gallery) */
@media screen and (min-width: 576px)
{
    main .image-container-mobile
    {
        display: none;
    }
    main .image-container-mobile img 
    {
        margin: 0;
        width: 100%;
    }
    main .image-container-tablet
    {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
    } 
    main .image-container-tablet #col-1,
    main .image-container-tablet #col-2
    {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }
    main .image-container-tablet #col-1 img,
    main .image-container-tablet #col-2 img
    {
        margin-bottom: 1rem;
    }

}

/* Desktop Size (3 column gallery) */
@media screen and (min-width: 992px)
{
    main .image-container-tablet 
    {
        display: none;
    }

    main .image-container-desktop 
    {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
    }

    main .image-container-desktop #col-desktop-1,
    main .image-container-desktop #col-desktop-2,
    main .image-container-desktop #col-desktop-3
    {
        width: 33.3333%;
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }

    main .image-container-desktop #col-desktop-1 img,
    main .image-container-desktop #col-desktop-2 img,
    main .image-container-desktop #col-desktop-3 img 
    {
        margin-bottom: 1rem;
    }

}

/* lightbox and desktop gallery style */
.lightbox 
{
position: fixed;
inset: 0;
z-index: 70;
background: rgba(0,0,0,.8);
color: var(--white);
display: none;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.lightbox .close 
{
font-size: 2.5em;
cursor: pointer;
position: absolute;
top: 0;
right: .5rem;
color: var(--black);
-webkit-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;
}

.lightbox .lightboxTitle 
{
    color: var(--black);
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.lightbox .close:hover 
{
    color: var(--orange);
}

#display 
{
max-width: 90%;
background: var(--white);
height: 80vh;
position: relative;
padding: 3rem 2px 2px 2px;
border-radius: 5px;
}

#display img
{
width: 100%;
height: 100%;
-o-object-fit: cover;
   object-fit: cover;
-o-object-position: 50% 10%;
   object-position: 50% 10%;
border-radius: inherit;
position: relative;
z-index: 2;
}

#display .displayLoading 
{
    height: 50px;
    width: 50px;
    background: var(--white);
    border-radius: 50%;
    border: 5px solid var(--black);
    border-top: 5px solid var(--white);
    -webkit-animation: spin 1s ease-in-out infinite;
            animation: spin 1s ease-in-out infinite;
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

@-webkit-keyframes spin 
{
    0% 
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% 
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin 
{
    0% 
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% 
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

#previous, #next 
{
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: var(--white);
}

#previous:hover, #next:hover 
{
    color: var(--orange);
}

#next
{
    right: 0;
}

@media screen and (min-width: 768px)
{
    #displayed
    {
        max-width: 70%;
    }
}

@media screen and (min-width: 992px)
{
    #display 
    {
        max-width: 50%;
        
    }
    #display img 
    {
        -o-object-position: 50% 20%;
           object-position: 50% 20%;
    }
}
/* end -- lightbox and desktop gallery style */