main 
{
    padding: 0;
}

main .hero 
{
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../assets/img3/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .hero h1 
{
    font-weight: 300;
    color: var(--white);
    text-transform: capitalize;
    font-size: 2.5em;
    text-align: center;
}

main .hero a 
{
    color: var(--white);
    text-transform: capitalize;
    font-size: 1.7em;
    font-weight: 300;
    padding: .75rem 1.5rem;
    margin-top: 1rem;
    border: 1px solid var(--white);
    transition: all .3s;
    display: inline-block
}

main .hero a:hover 
{
    background: var(--dark-green);
}

main .hero a:active 
{
    color: var(--orange);
    border-color: var(--orange);
}

main .aboutUs 
{
    min-height: 100vh;
    background: var(--green);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 2rem;
}

main .aboutUs h1 
{
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 2rem;
}

.aboutUs h1, .aboutUs h2 
{
    text-transform: capitalize;
    color: var(--white);
}

.aboutUs h2 
{
    font-weight: 300;
    font-size: 2.2em;
}

.aboutUs p 
{
    width: 100%;
    font-weight: 700;
    font-size: .8em;
    color: var(--white);
    margin-top: 1rem;
    line-height: 1.5;
}

.aboutUs .siapaKami h2, .siapaKami p
{
    text-align: right;
} 

main .aboutUs .line 
{
    width: 100%;
    border-bottom: 1px solid var(--white);
    margin: 4rem 0;
}

main .data 
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.data .data-child 
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 24px;
    transition: all 1s;
    cursor: default;
}

.data .data-child i 
{
    font-size: 5.5em;
    margin-bottom: 1rem;
}

.data .data-child p 
{
    text-align: center;
    font-size: 1.5em;
}

.data .data-child p .block
{
    display: block;
}

.data .data-child p span 
{
    font-weight: 700;
    font-size: 1.2em;
}

.data .data-photos 
{
    color: var(--green);
}

.data .data-photographer
{
    color: var(--blue);
} 

.data .data-users
{
    color: var(--orange)
}

.whatTheySay 
{
    margin: 2rem auto;
    min-height: 100vh;
    scroll-margin-top: 7rem;
}

.whatTheySay h1 
{
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    color: var(--green);
}

.container-mobile 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.container-tablet 
{
    display: none;  
}

.container-desktop 
{
    display: none; 
}

.card 
{
    width: 100%;
    max-height: 300px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0,0,0,.24);
    margin-bottom: 3rem;
    cursor: default;
}

.card:hover 
{
    box-shadow: 0 0 24px rgba(0,0,0,.48);
}

.card .top-section, 
.card .bottom-section
{
    padding: 24px;
    width: 100%;
}

.card .top-section
{
    color: #333;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    grid-row: span 3 / span 3;
}

.card .top-section .profilePict
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
}

.card .top-section .caption h2 
{
    font-weight: 600;
    font-size: 1.2em;
    text-transform: capitalize;
}

.card .top-section .caption h3 
{
    font-weight: 300;
    font-size: 1em;
    text-transform: capitalize;
}

.card .bottom-section
{
    background: var(--dark-green);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 3 / span 3;
}

.card .bottom-section p
{
    width: 100%;
    color: white;
    font-size: .85em;
    font-weight: 400;
    text-align: center;
}

@media screen and (min-width: 640px)
{
    .container-mobile
    {
        display: none;
    }
    .container-tablet 
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .container-tablet > *
    {
        width: 45%;
    }
}

@media screen and (min-width: 768px)
{    
    main .hero h1 
    {
        font-size: 3em;
    }

    main .aboutUs 
    {
        min-height: 60vh;
    }

    .aboutUs .container 
    {
        display: flex;
        justify-content: space-between;
    }

    .aboutUs .siapaKami, .aboutUs .tujuanKami
    {
        width: 45%;
    }

    .aboutUs .siapaKami h2, .siapaKami p
    {
        text-align: left;
    }

    .aboutUs .line 
    {
        display: none;
    }

    .aboutUs .tujuanKami h2, .tujuanKami p 
    {
        text-align: right;
    }
    
    main .data
    {
        min-height: 40vh;
        flex-direction: row;
    }

    .data .data-child 
    {
        max-width: 25%;
        justify-content: flex-start;
        padding: 2rem 1.5rem;
    }

    .data .data-child:hover 
    {
        box-shadow: 0 0 50px 2px rgba(0,0,0,.2);
    } 

}

@media screen and (min-width: 1024px)
{
    main .hero a 
    {
        font-size: 1.9em;
    }

    main .aboutUs 
    {
        min-height: 60vh;
    }

    .aboutUs .container 
    {
        display: flex;
        justify-content: space-between;
    }

    .aboutUs .line 
    {
        display: none;
    }

    main .data
    {
        min-height: 40vh;
    }

    .container-tablet
    {
        display: none;
    }

    .container-desktop
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .container-desktop > * 
    {
        width: 30%;
    }
}

@media screen and (min-width: 1280px)
{
    .aboutUs .siapaKami, .aboutUs .tujuanKami  
    {
        width: 45%;
    }

    .aboutUs p 
    {
        font-size: 1em;
    }

    .card .bottom-section p
    {
        font-size: 1em;
    }
}

@media screen and (min-width: 1440px)
{
    main .aboutUs 
    {
        scroll-margin-top: 0;
    }

    .data .data-child p
    {
        font-size: 1.8em;
    }
}

/* ANIMATE ON SCROLL */
.aboutUs .aboutUsTitle
{
    transition: all 1s .5s;
    transform: translateX(-20px);
    opacity: 0;
}


.aboutUs .aboutUsTitle.animationScrolled
{
    opacity: 1;
    transform: translateX(0);
}

.aboutUsContent 
{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}

.siapaKami
{
    transition-delay: 1s;
}

.tujuanKami 
{
    transition-delay: 1.5s;
}

.aboutUsContent.animationScrolled
{
    opacity: 1;
    transform: translateY(0);
}

.line 
{
    opacity: .5;
    transform: scale(0);
    transition: all .5s 1.75s;
}

.line.animationScrolled 
{
    opacity: 1;
    transform: scale(1);
}

.data .fas 
{
    transition: all 1s;
    opacity: 0;
    transform: scale(.7);
}

.data .fas.animationScrolled
{
    opacity: 1;
    transform: scale(1);
}

.whatTheySay h1 
{
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s;
}

.whatTheySay h1.animationScrolled
{
    opacity: 1;
    transform: translateY(0);
}

.card 
{   
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.5s;
}

.card.animationScrolled
{   
    opacity: 1;
    transform: translateY(0);
}
/* ANIMATE ON SCROLL */
