.loader 
{
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: var(--green);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.loadingSpin
{
    height: 50px;
    width: 50px;
    background: var(--green);
    border-radius: 50%;
    border: 5px solid var(--white);
    border-top: 5px solid var(--green);
    -webkit-animation: spin 1s ease-in-out infinite;
            animation: spin 1s ease-in-out infinite;
    border-radius: 50%;
}

@-webkit-keyframes spin 
{
    0% 
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% 
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin 
{
    0% 
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% 
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}