.loader 
{
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpin
{
    height: 50px;
    width: 50px;
    background: var(--green);
    border-radius: 50%;
    border: 5px solid var(--white);
    border-top: 5px solid var(--green);
    animation: spin 1s ease-in-out infinite;
    border-radius: 50%;
}

@keyframes spin 
{
    0% 
    {
        transform: rotate(0);
    }
    100% 
    {
        transform: rotate(360deg);
    }
}